# Copyright (c) 2023 Robert Bosch GmbH and Microsoft Corporation
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: CI
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    # Run only on branches/commits and not tags
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-job:
    name: "Run linters"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Linters
        uses: ./.github/actions/pre-commit-action

  unit-test:
    name: "Run unit tests"
    runs-on: ubuntu-22.04
    container: ghcr.io/eclipse-velocitas/devcontainer-base-images/python:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install required packages
        run: |
          pip install -e velocitas_lib
          pip install -r runtime-k3d/src/requirements.txt
          pip install -r runtime-k3d/test/requirements.txt
          pip install -r runtime-local/test/requirements.txt
          pip install -r velocitas_lib/test/requirements.txt

      - name: unit tests
        shell: bash
        run: |
          pytest --ignore-glob='*integration*' --override-ini junit_family=xunit1 --junit-xml=./results/UnitTest/junit.xml \
          --cov-append \
          --cov ./runtime-k3d/test \
          --cov ./runtime-local/test \
          --cov ./velocitas_lib/test \
          --cov-report=xml:results/CodeCoverage/cobertura-coverage.xml \
          --cov-branch ./runtime-k3d/test \
          --cov-branch ./runtime-local/test \
          --cov-branch ./velocitas_lib/test
          coverage2clover -i results/CodeCoverage/cobertura-coverage.xml -o results/CodeCoverage/clover.xml
          coveragepy-lcov --data_file_path ./.coverage --output_file_path results/CodeCoverage/lcov.info

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: ./results/UnitTest/junit.xml

      - uses: 5monkeys/cobertura-action@master
        with:
          path: results/CodeCoverage/cobertura-coverage.xml
          minimum_coverage: 80

  run-local-integration-tests:
    name: Run Integration Tests for runtime-local
    runs-on: ubuntu-22.04
    env:
      DAPR_HOST_IP: 127.0.0.1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Set commit id
        run: |
          NEW_CONFIG="$(jq --arg GITHUB_SHA "$GITHUB_SHA" '.packages[0].version |= $GITHUB_SHA' runtime-local/test/.velocitas.json)"
          echo "${NEW_CONFIG}" > runtime-local/test/.velocitas.json

      - name: Install required packages
        run: |
          sudo curl -L https://github.com/eclipse-velocitas/cli/releases/latest/download/velocitas-linux-x64 -o /usr/bin/velocitas
          sudo chmod +x /usr/bin/velocitas

      - name: Init velocitas project
        run: |
          cd runtime-local/test
          velocitas init

      - name: Run integration tests for runtime-local
        run: |
          cd runtime-local/test
          pip install -r requirements.txt
          pytest -s ./integration/integration_test.py
